body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px !important;
}

i {
  font-size: 14px !important;
}

.top-bar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.btn-light {
  background-color: #fff;
  border-color: #dee2e6;
  color: #212529;
}

.btn-light:hover {
  background-color: #c1c9d0;
  color: $primary;
}

.btn-light i {
  color: #9da1a7;
}

.btn-light:hover i {
  color: $primary;
}

.navbar-nav {
  color: white;
}

.text-color {
  color: white;
}

.custom-height {
  height: 42px;
}

.smallIcon {
  font-size: 11px;
}

.w-65 {
  width: 65% !important;
}
